.button {
  outline: none;
  color: var(--text-primary);
  border: none;
  border-radius: 12px;
  padding: var(--spacing-2) var(--spacing-4);
  font-size: var(--text-m);
  font-weight: 600;
  cursor: pointer;
  transition: all 0.3s ease;

  &:hover {
    transform: scale(1.05);
  }

  &.primary {
    background-color: var(--primary);
  }

  &.secondary {
    background-color: var(--bg-primary);
    border: 1px solid var(--primary);
  }

  &.github {
    display: flex;
    align-items: center;
    gap: var(--spacing-2);
    background-color: #171515;
    color: white;
  }
}
