---
import { api } from '@convex/_generated/api'

import Layout from '@/layouts/Layout.astro'
import { convexClient } from '@/lib/convexClient'

export async function getStaticPaths () {
  const projects = await convexClient.query(api.projects.getAll, {})

  return projects.map((project) => ({
    params: { name: project.title.toLowerCase() },
  }))
}

const projectData = await convexClient.query(api.projects.getByName, { name: Astro.params.name })

if (!projectData) {
  return Astro.redirect('/404')
}
---

<Layout title={projectData.title}>
  <div>Hi, {projectData.title}!</div>
  {JSON.stringify(projectData, null, 2)}
</Layout>
