@mixin border {
  border-radius: 12px;
  border: 1px solid var(--border-primary);
}

@mixin card {
  padding: var(--spacing-6);
  background-color: var(--bg-secondary);

  box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.1);

  @include border;
}
