/* inter-regular - cyrillic_latin */
@font-face {
  font-display: swap;
  font-family: 'Inter';
  font-style: normal;
  font-weight: 400;
  src: url('/fonts/inter-v20-cyrillic_latin-regular.woff2') format('woff2');
}

/* pixelify-sans-regular - cyrillic_latin */
@font-face {
  font-display: swap;
  font-family: 'Pixelify Sans';
  font-style: normal;
  font-weight: 400;
  src: url('/fonts/pixelify-sans-v3-cyrillic_latin-regular.woff2') format('woff2');
}


:root {
  color-scheme: light dark;

  /* --- Primitives --- */
  
  /* Brand Colors */
  --color-brand-primary: #8c43d6;
  --color-brand-secondary: #bd8aef;
  
  /* Neutrals - Light */
  --color-base-white: #ffffff;
  --color-bg-light: #e8eefd;
  --color-bg-light-secondary: #e4e6fc;
  --color-text-light: #0f0c13;
  
  /* Neutrals - Dark */
  --color-base-black: #000000;
  --color-bg-dark: #1d1f20;
  --color-bg-dark-secondary: #252728; /* Old tertiary */
  --color-text-dark: #efecf3;
  --color-border-dark: #283649;

  /* --- Semantic Tokens --- */

  /* Backgrounds */
  --bg-primary: var(--color-bg-light);
  --bg-secondary: var(--color-bg-light-secondary);
  
  /* Text */
  --text-primary: var(--color-text-light);
  --text-secondary: #65758b; /* Muted text */

  /* Brand / Action */
  --primary: var(--color-brand-primary);
  --secondary: var(--color-brand-secondary);
  
  /* Borders */
  --border-primary: var(--color-brand-secondary);

  /* Typography Scale */
  --text-s: 14px;
  --text-m: 16px;
  --text-l: 20px;
  --text-xl: 30px;
  --text-xxl: 60px;

  /* Spacing */
  --spacing: 4px;
  --spacing-2: calc(var(--spacing) * 2);
  --spacing-3: calc(var(--spacing) * 3);
  --spacing-4: calc(var(--spacing) * 4);
  --spacing-5: calc(var(--spacing) * 5);
  --spacing-6: calc(var(--spacing) * 6);
}

[data-theme="dark"] {
  /* Backgrounds */
  --bg-primary: var(--color-bg-dark);
  --bg-secondary: var(--color-bg-dark-secondary);
  
  /* Text */
  --text-primary: var(--color-text-dark);
  --text-secondary: #94a3b8; /* Muted text */

  /* Brand / Action */
  --secondary: var(--color-bg-dark-secondary);
  
  /* Borders */
  --border-primary: var(--color-border-dark);
}

body {
  font-family:
    'Inter',
    -apple-system,
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  background-color: var(--bg-primary);
  margin: 0;
}

main {
  width: 80dvw;
  display: flex;
  flex-direction: column;
  gap: 60px;
  margin: 24px auto;
}
