@import 'tailwindcss';

@plugin 'daisyui' {
  themes:
    dracula --default --prefersdark,
    lofi;
}

/* inter-regular - cyrillic_latin */
@font-face {
  font-display: swap;
  font-family: 'Inter';
  font-style: normal;
  font-weight: 400;
  src: url('/fonts/inter-v20-cyrillic_latin-regular.woff2') format('woff2');
}

/* pixelify-sans-regular - cyrillic_latin */
@font-face {
  font-display: swap;
  font-family: 'Pixelify Sans';
  font-style: normal;
  font-weight: 400;
  src: url('/fonts/pixelify-sans-v3-cyrillic_latin-regular.woff2') format('woff2');
}

/* jetbrains-mono-regular - latin */
@font-face {
  font-display: swap;
  font-family: 'JetBrains Mono';
  font-style: normal;
  font-weight: 400;
  src: url('/fonts/jetbrains-mono-v24-latin-regular.woff2') format('woff2');
}

@plugin "daisyui/theme" {
  name: 'dracula';
  default: true;
  prefersdark: true;
  color-scheme: 'dark';
  --color-base-100: #1d1f20;
  --color-base-200: #252728;
  --color-base-300: oklch(24.787% 0.019 277.508);
  --color-base-content: oklch(97.747% 0.007 106.545);
  --color-primary: #8c43d6;
  --color-primary-content: oklch(100% 0 0);
  --color-secondary: oklch(75.461% 0.183 346.812);
  --color-secondary-content: oklch(0% 0 0);
  --color-accent: oklch(83.392% 0.124 66.558);
  --color-accent-content: oklch(16.678% 0.024 66.558);
  --color-neutral: oklch(39.445% 0.032 275.524);
  --color-neutral-content: oklch(87.889% 0.006 275.524);
  --color-info: oklch(88.263% 0.093 212.846);
  --color-info-content: oklch(17.652% 0.018 212.846);
  --color-success: oklch(87.099% 0.219 148.024);
  --color-success-content: oklch(17.419% 0.043 148.024);
  --color-warning: oklch(95.533% 0.134 112.757);
  --color-warning-content: oklch(19.106% 0.026 112.757);
  --color-error: oklch(68.22% 0.206 24.43);
  --color-error-content: oklch(13.644% 0.041 24.43);
  --radius-selector: 1rem;
  --radius-field: 1rem;
  --radius-box: 2rem;
  --size-selector: 0.25rem;
  --size-field: 0.28125rem;
  --border: 1px;
  --depth: 0;
  --noise: 0;
}

@plugin "daisyui/theme" {
  name: 'lofi';
  default: false;
  prefersdark: false;
  color-scheme: 'light';
  --color-base-100: oklch(100% 0 0);
  --color-base-200: oklch(97% 0 0);
  --color-base-300: oklch(94% 0 0);
  --color-base-content: oklch(0% 0 0);
  --color-primary: oklch(15.906% 0 0);
  --color-primary-content: oklch(100% 0 0);
  --color-secondary: oklch(21.455% 0.001 17.278);
  --color-secondary-content: oklch(100% 0 0);
  --color-accent: oklch(26.861% 0 0);
  --color-accent-content: oklch(100% 0 0);
  --color-neutral: oklch(0% 0 0);
  --color-neutral-content: oklch(100% 0 0);
  --color-info: oklch(79.54% 0.103 205.9);
  --color-info-content: oklch(15.908% 0.02 205.9);
  --color-success: oklch(90.13% 0.153 164.14);
  --color-success-content: oklch(18.026% 0.03 164.14);
  --color-warning: oklch(88.37% 0.135 79.94);
  --color-warning-content: oklch(17.674% 0.027 79.94);
  --color-error: oklch(78.66% 0.15 28.47);
  --color-error-content: oklch(15.732% 0.03 28.47);
  --radius-selector: 1rem;
  --radius-field: 1rem;
  --radius-box: 2rem;
  --size-selector: 0.25rem;
  --size-field: 0.28125rem;
  --border: 1px;
  --depth: 0;
  --noise: 0;
}

:root {
  --font-family: 'Inter', -apple-system, sans-serif;
  --font-family-mono: 'JetBrains Mono', -apple-system, monospace;
  --font-family-pixel: 'Pixelify Sans', -apple-system, sans-serif;
}

body {
  font-family: var(--font-family);
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: var(--color-base-100);
  margin: 0;
}

main {
  width: 100%;
  max-width: 92%;
  display: flex;
  flex-direction: column;
  gap: 40px;
  margin: 24px auto;
}

/* md: 768px */
@media (min-width: 768px) {
  main {
    max-width: 85%;
    gap: 50px;
  }
}

/* xl: 1280px */
@media (min-width: 1280px) {
  main {
    max-width: 1000px;
    gap: 60px;
  }
}

.portfolio-title-main {
  font-size: clamp(52px, 8vw, 106px);
  @apply text-primary font-semibold /*text-[52px] sm:text-[80px] lg:text-[106px]*/ leading-none w-full;
}

.portfolio-title-rest {
  font-size: clamp(45px, 6vw, 100px);
  @apply text-base-content font-semibold /*text-[32px] sm:text-[48px] lg:text-[60px]*/ leading-none w-full;
}
