@import 'tailwindcss';

@plugin 'daisyui' {
  themes:
    dracula --default --prefersdark,
    lofi;
}

@plugin "daisyui/theme" {
  name: 'dracula';
  default: true;
  prefersdark: true;
  color-scheme: 'dark';
  --color-base-100: #1d1f20;
  --color-base-200: #252728;
  --color-base-300: oklch(24.787% 0.019 277.508);
  --color-base-content: oklch(97.747% 0.007 106.545);
  --color-primary: #8c43d6;
  --color-primary-content: oklch(100% 0 0);
  --color-secondary: oklch(75.461% 0.183 346.812);
  --color-secondary-content: oklch(0% 0 0);
  --color-accent: oklch(74% 0.16 232.661);
  --color-accent-content: oklch(16.678% 0.024 66.558);
  --color-neutral: oklch(39.445% 0.032 275.524);
  --color-neutral-content: oklch(87.889% 0.006 275.524);
  --color-info: oklch(86% 0.127 207.078);
  --color-info-content: oklch(17.652% 0.018 212.846);
  --color-success: oklch(87.099% 0.219 148.024);
  --color-success-content: oklch(17.419% 0.043 148.024);
  --color-warning: oklch(87% 0.169 91.605);
  --color-warning-content: oklch(19.106% 0.026 112.757);
  --color-error: oklch(68.22% 0.206 24.43);
  --color-error-content: oklch(13.644% 0.041 24.43);
  --radius-selector: 1rem;
  --radius-field: 1rem;
  --radius-box: 2rem;
  --size-selector: 0.25rem;
  --size-field: 0.28125rem;
  --border: 1px;
  --depth: 0;
  --noise: 0;
}

@plugin "daisyui/theme" {
  name: 'lofi';
  default: false;
  prefersdark: false;
  color-scheme: 'light';
  --color-base-100: oklch(100% 0 0);
  --color-base-200: oklch(97% 0 0);
  --color-base-300: oklch(94% 0 0);
  --color-base-content: oklch(0% 0 0);
  --color-primary: oklch(15.906% 0 0);
  --color-primary-content: oklch(100% 0 0);
  --color-secondary: oklch(21.455% 0.001 17.278);
  --color-secondary-content: oklch(100% 0 0);
  --color-accent: oklch(26.861% 0 0);
  --color-accent-content: oklch(100% 0 0);
  --color-neutral: oklch(0% 0 0);
  --color-neutral-content: oklch(100% 0 0);
  --color-info: oklch(79.54% 0.103 205.9);
  --color-info-content: oklch(15.908% 0.02 205.9);
  --color-success: oklch(72% 0.219 149.579);
  --color-success-content: oklch(18.026% 0.03 164.14);
  --color-warning: oklch(88.8% 0.37 79.7);
  --color-warning-content: oklch(17.674% 0.027 79.94);
  --color-error: oklch(78.66% 0.15 28.47);
  --color-error-content: oklch(15.732% 0.03 28.47);
  --radius-selector: 1rem;
  --radius-field: 1rem;
  --radius-box: 2rem;
  --size-selector: 0.25rem;
  --size-field: 0.28125rem;
  --border: 1px;
  --depth: 0;
  --noise: 0;
}

:root {
  --fa-width: 16px;
  --fa-height: 16px;
  font-size: 16px;
}

html {
  scroll-behavior: smooth;
}

body {
  font-family: var(--font-inter);
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: var(--color-base-100);
  margin: 0;
}

main {
  width: 100%;
  max-width: 92%;
  display: flex;
  flex-direction: column;
  gap: 40px;
  margin: 24px auto;
}

/* md: 768px */
@media (min-width: 768px) {
  main {
    max-width: 85%;
    gap: 50px;
  }
}

/* xl: 1280px */
@media (min-width: 1280px) {
  main {
    max-width: 1000px;
    gap: 60px;
  }
}

.portfolio-title-main {
  font-size: clamp(48px, 23cqw, 280px);
  @apply text-primary font-bold leading-none w-full;
}

.portfolio-title-rest {
  font-size: clamp(26px, 11cqw, 140px);
  text-align-last: justify;
  @apply text-base-content font-semibold leading-none w-full;
}

.header-island {
  @apply p-2 rounded-full bg-base-100 border-2 border-base-300 shadow-lg;
}

.main-section {
  @apply flex flex-col gap-4;
}

.panel-section {
  @apply flex flex-col items-center justify-center gap-2 p-6 bg-base-200 shadow rounded-xl border border-base-300;
}
