@use '/src/styles/mixins';

.experienceCard {
  display: flex;
  flex-direction: column;
  gap: var(--spacing-4);

  @include mixins.card;

  h3 {
    font-size: var(--text-l);
    font-weight: 600;
    color: var(--text);
    line-height: 1.5;
  }

  a {
    display: flex;
    align-items: center;
    gap: var(--spacing-3);
    color: var(--accent);
    text-decoration: none;
    line-height: 1.5;
    font-weight: 600;
  }

  span {
    color: var(--text);
    line-height: 1.5;
    font-weight: 600;
  }

  .periodAndLocation {
    display: flex;
    gap: var(--spacing-3);

    .element {
      color: var(--muted-text);
      font-size: var(--text-s);
      display: flex;
      align-items: center;
      gap: var(--spacing-2);
    }
  }

  p {
    font-size: var(--text-m);
    line-height: 1.625;
  }

  ul {
    list-style: none;
  }

  .achievements {
    display: flex;
    flex-direction: column;
    gap: var(--spacing-3);

    li {
      font-size: var(--text-m);
      color: var(--text);
    }

    li:before {
      content: '•';
      color: var(--accent);
      margin-right: var(--spacing-3);
    }
  }

  .technologies {
    display: flex;
    flex-wrap: wrap;
    gap: var(--spacing-3);
  }
}
