---
import { api } from '@convex/_generated/api'
import { CONVEX_URL } from 'astro:env/client'
import { ConvexHttpClient } from 'convex/browser'

export const prerender = true

export async function getStaticPaths () {
  const client = new ConvexHttpClient(CONVEX_URL)
  const projects = await client.query(api.projects.getAll)

  return projects.map((project) => ({
    params: { name: project.title.toLowerCase() },
  }))
}

const { name } = Astro.params
---
<div>Hi, {name}!</div>
