---
import { ClientRouter } from 'astro:transitions'

import Header from '@/containers/Header/Header.astro'

import '../styles/root.css'
import '../styles/reset.css'

const { title, lang } = Astro.props
---

<!DOCTYPE html>
<html lang={lang} data-theme="dracula">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <link
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/7.0.1/css/all.min.css"
      rel="stylesheet"
      crossorigin="anonymous"
      referrerpolicy="no-referrer"
    />
    <meta name="generator" content={Astro.generator} />
    <title>{title}</title>
  </head>
  <body>
    <main>
      <Header />
      <ClientRouter />
      <slot lang={lang} />
    </main>
  </body>
</html>
